<ul class="subheader">
  <li class="ele1">
    <h3>Reservations List</h3>
  </li>
  <li class="ele2">  <p> Lorem ipsum sit armet, consectetur adipiscing <br>
        elit, sed do eiusmod tempor incididunt ut labore et <br>
        dolore magna aliqua.</p>
  </li>  
  <li class="ele3">
    <button class="btn btn-createlink">
      <a class="nav-link" [routerLink]="['/counter']">              
       CREATE RESERVATION  </a>
    </button>
  </li>
</ul>

<p *ngIf="!reservations"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="reservations">
  <thead>
    <tr>
      <th>Place</th>
      <th>Date </th>
      <th>Ranking </th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations">
      <td>{{ reservation.place }}</td>
      <td>{{ reservation.date }}</td>
      <td>{{ reservation.rank }}</td>
      <td> <button class="btn btn-edit"> EDIT </button> </td>
    </tr>
  </tbody>
</table>